<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rentalin.Properties.Settings.KoneksiRentalin" connectionString="DATA SOURCE=127.0.0.1;PASSWORD=kireina;PERSIST SECURITY INFO=True;USER ID=HYUUZU"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>